# maven noise
target/

# osx noise
.DS_Store

# vi
**/*.*.swp

# netbeans noise
nbactions.xml
nb-configuration.xml
/nbproject/

#eclipse noise
.settings
.settings/*
.project
.classpath

# subversion
.svn

# visual studio code
.vscode

# python
**/*.pyc

# others
**/*.tar
**/*.log
**/*.war
