# Service Documentation and context path baselines
# Updated 20141006

##rootServicePath=http://service.iris.edu/fdsnwsbeta/dataselect/1
rootServicePath=http://localhost/fdsnwsbeta/dataselect/1

##rootServiceDoc=http://service/fdsnwsbeta/dataselect/docs/1/root/
rootServiceDoc=file:///Users/tomcat/tomcat-8092-7.0.54/dataselect_config1/dataselect-root.html

##wadlPath=http://service/fdsnwsbeta/dataselect/docs/1/wadl/


# Application Name for logging and error messages
appName=wss-default-dataselect
version=default-0.1

handlerWorkingDirectory=/tmp

##handlerProgram=/tomcat/other/direct-source-handler.sh
handlerProgram=/Users/tomcat/test/dataselect_config1/sleep_handler.sh

# Timeout for command line implementation.  Pertains to initial and ongoing waits.
##handlerTimeout=300 
handlerTimeout=40

# usageLog is true by default, set this to false to disable usage logging
##usageLog=false

# Disable or remove this to disable POST processing
postEnabled=true

# Enable this to return HTTP 404 in lieu of 204, NO CONTENT
use404For204=true

# Default output type for this service.  From set [mseed, miniseed, text,
# texttree, json, html, xml, zip]
# Can be overridden by using the '&format=parameter' query parameter.  This
# will set the returned content's MIME type and pass the argument / param pair
# to the handler
outputType=miniseed

# items may be on separate lines, use a backslash as described for java property files
# for each key value pair, the key must be sparated from the value with a colon
# keys and value may not contain spaces
# each pair of items must be separated with a comma
# the value will be used to set the HTTP Content-Type header element
outputTypes = \
    xml: application/xml, \
    text: text/plain,\
    miniseed: application/vnd.fdsn.mseed, \
    mseed: application/vnd.fdsn.mseed, \
    binary: application/octet-stream

# CORS control
allowCors=true

# LOG4J or JMS
loggingMethod=LOG4J

# Override the default 100msec SIGKILL delay (from SIGTERM signal)
sigkillDelay=200

####################################################################################
# Advanced Features.  Take care!
####################################################################################

# JMS Logging configs.  All defaulted to the values below.  Individually overrideable.
# NOTE: use -Djndi.provider.url value in bin/setenv.sh instead
##jndiUrl=file:///opt/dmc/jndi
##jndiUrl=file:///Users/tomcat/opt_dmc_jndi
jndiUrl=file:///Users/tomcat/does_not_seem_to_matter
##connectionFactory=UsageTopicConnectionFactory
##topicDestination=UsageStatsTopicDestination

# If present, an instance of the singleton class will be created at application start
##singletonClassName=edu.iris.wss.IrisStreamingOutput.TestSingleton

# If present this class will be used as the Java interface for generating data
##streamingOutputClassName=edu.iris.SOTest.ExternalSOTest

# If present this class will be used as a query parameter / command pre processor.
##argPreProcessorClassName=edu.iris.wss.SynthArgPreProcessor
